html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    background: #666;
    text-shadow: 1px 1px 3px #000;
}

.slider,
.slider2 {
    position:relative;
    width: 100%;
    height: 80%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.slider {
    -webkit-animation: 'slide' 25s ease-out infinite;
    -moz-animation: 'slide' 25s ease-out infinite;
    animation: 'slide' 25s ease-out infinite;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('http://www.fullpics.com/up/Underwater-Sea_Z83.jpg');
}

.slider-container {
    margin: auto;
    width: 80%;
    height: 90%;
    overflow: hidden;
    padding: 10px;
}

.slider:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}

.slider:hover:before,
.slider2:hover:before {
    content: 'pause';
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    text-shadow: 0px 0px 3px #000;
    padding: 2px 6px;
    border: 1px dotted #000;
    background: rgba(0, 0, 0, 0.3);
    display: block;
    position: absolute;
    width: 97%;
    left: 1%;
    top: 2%;
    z-index: 100;
}

@-webkit-keyframes 'slide' {
    0%, 100% {
        background-image: url('http://www.fullpics.com/up/Underwater-Sea_Z83.jpg');
        -webkit-transition: background-image .218s ease-in;
        -moz-transition: background-image .218s ease-in;
        -o-transition: background-image .218s ease-in;
        -ms-transition: background-image .218s ease-in;
        transition: background-image .218s ease-in;
    }
    25% {
        background-image: url('http://megalife.com.ua/uploads/posts/2009-10/1256674100_chilling_out_in_paradise_1280kh1024.jpg');
        -webkit-transition: background-image .218s ease-in;
        -moz-transition: background-image .218s ease-in;
        -o-transition: background-image .218s ease-in;
        -ms-transition: background-image .218s ease-in;
        transition: background-image .218s ease-in;
    }
    50% {
        background-image: url('http://hayalet.files.wordpress.com/2007/01/beach11280.jpg');
        -webkit-transition: background-image .218s ease-in;
        -moz-transition: background-image .218s ease-in;
        -o-transition: background-image .218s ease-in;
        -ms-transition: background-image .218s ease-in;
        transition: background-image .218s ease-in;
    }
    75% {
        background-image: url('http://www.gandex.ru/upl/oboi/gd318.jpg');
        -webkit-transition: background-image .218s ease-in;
        -moz-transition: background-image .218s ease-in;
        -o-transition: background-image .218s ease-in;
        -ms-transition: background-image .218s ease-in;
        transition: background-image .218s ease-in;
    }
}

@-moz-keyframes 'slide' {
    0%, 100% {
        background-image: url('http://www.fullpics.com/up/Underwater-Sea_Z83.jpg');
        -webkit-transition: background-image .218s ease-in;
        -moz-transition: background-image .218s ease-in;
        -o-transition: background-image .218s ease-in;
        -ms-transition: background-image .218s ease-in;
        transition: background-image .218s ease-in;
    }
    25% {
        background-image: url('http://megalife.com.ua/uploads/posts/2009-10/1256674100_chilling_out_in_paradise_1280kh1024.jpg');
        -webkit-transition: background-image .218s ease-in;
        -moz-transition: background-image .218s ease-in;
        -o-transition: background-image .218s ease-in;
        -ms-transition: background-image .218s ease-in;
        transition: background-image .218s ease-in;
    }
    50% {
        background-image: url('http://hayalet.files.wordpress.com/2007/01/beach11280.jpg');
        -webkit-transition: background-image .218s ease-in;
        -moz-transition: background-image .218s ease-in;
        -o-transition: background-image .218s ease-in;
        -ms-transition: background-image .218s ease-in;
        transition: background-image .218s ease-in;
    }
    75% {
        background-image: url('http://www.gandex.ru/upl/oboi/gd318.jpg');
        -webkit-transition: background-image .218s ease-in;
        -moz-transition: background-image .218s ease-in;
        -o-transition: background-image .218s ease-in;
        -ms-transition: background-image .218s ease-in;
        transition: background-image .218s ease-in;
    }
}

@keyframes 'slide' {
    0%, 100% {
        background-image: url('http://www.fullpics.com/up/Underwater-Sea_Z83.jpg');
        -webkit-transition: background-image .218s ease-in;
        -moz-transition: background-image .218s ease-in;
        -o-transition: background-image .218s ease-in;
        -ms-transition: background-image .218s ease-in;
        transition: background-image .218s ease-in;
    }
    25% {
        background-image: url('http://megalife.com.ua/uploads/posts/2009-10/1256674100_chilling_out_in_paradise_1280kh1024.jpg');
        -webkit-transition: background-image .218s ease-in;
        -moz-transition: background-image .218s ease-in;
        -o-transition: background-image .218s ease-in;
        -ms-transition: background-image .218s ease-in;
        transition: background-image .218s ease-in;
    }
    50% {
        background-image: url('http://hayalet.files.wordpress.com/2007/01/beach11280.jpg');
        -webkit-transition: background-image .218s ease-in;
        -moz-transition: background-image .218s ease-in;
        -o-transition: background-image .218s ease-in;
        -ms-transition: background-image .218s ease-in;
        transition: background-image .218s ease-in;
    }
    75% {
        background-image: url('http://www.gandex.ru/upl/oboi/gd318.jpg');
        -webkit-transition: background-image .218s ease-in;
        -moz-transition: background-image .218s ease-in;
        -o-transition: background-image .218s ease-in;
        -ms-transition: background-image .218s ease-in;
        transition: background-image .218s ease-in;
    }
}

.toolbar {
    list-style: none;
    padding: 4px 10px;
    margin: 0;
    margin-bottom: 20px;
    overflow: hidden;
    font-size: 20px;
}

.toolbar li {
    float: left;
    margin: 0;
    margin-right: 15px;
}

.toolbar li:last-child {
    margin: 0;
}

.toolbar li a {
    color: rgba(153, 206, 255, .7);
}

.toolbar li a:hover {
    color: rgba(153, 206, 255, 1);
}


.toolbar li.active {
    color: rgba(255, 255, 255, .5);
}

h1 {
    color: rgba(255, 255, 255, 1);
    font-style: italic;
}

.slider2 {
    background-color: #000;
}

.slider2 ul,
.slider2 li {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
}

.slider2 li img {
    position: relative;
    width: 100%;
    height: 100%;
}

li[id^='slide'] {
    position: absolute;
    left: -100%;
    top: 0;

    -webkit-animation: 'slide0' 20s ease-in infinite;
    -moz-animation: 'slide0' 20s ease-in infinite;
    animation: 'slide0' 20s ease-in infinite;
}

.slider2:hover li[id^='slide'] {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    animation-play-state: paused;
}

#slide1 {
    -webkit-animation-name: slide-1;
    -moz-animation-name: slide-1;
    animation-name: slide-1;
}
#slide2 {
    -webkit-animation-name: slide-2;
    -moz-animation-name: slide-2;
    animation-name: slide-2;
}
#slide3 {
    -webkit-animation-name: slide-3;
    -moz-animation-name: slide-3;
    animation-name: slide-3;
}
#slide4 {
    -webkit-animation-name: slide-4;
    -moz-animation-name: slide-4;
    animation-name: slide-4;
}

@-webkit-keyframes 'slide-1' {
    0% { left: 0px; z-index: 3;}
    15% { left: 0px; z-index: 3;}
    25% { left: 0px; z-index: 3;}
    30% { left: 0px; opacity: 0; -webkit-transform: scale(1, 1.5); z-index: 2; }
    35% { left: -100%; opacity: 0; -webkit-transform: scale(1); z-index: 0; }
    95% { left: -100%; opacity: 0; }
    100% { left: 0px; opacity: 1; }
}

@-webkit-keyframes 'slide-2' {
    0% { left: -100%; opacity: 0; }
    25% { left: -100%; opacity: 0; }
    30% { left: 0px; opacity: 1; }
    35% { left: 0px; z-index: 3; }
    45% { left: 0px; z-index: 3;}
    50% { left: 0px; opacity: 0; -webkit-transform: scale(1, 1.5); z-index: 2; }
    55% { left: -100%; opacity: 0; -webkit-transform: scale(1); z-index: 0; }
    100% { left: -100%; opacity: 0; }
}

@-webkit-keyframes 'slide-3' {
    0% { left: -100%; opacity: 0; }
    45% { left: -100%; opacity: 0; }
    50% { left: 0px; opacity: 1; }
    55% { left: 0px; z-index: 3; }
    65% { left: 0px; z-index: 3;}
    70% { left: 0px; opacity: 0; -webkit-transform: scale(1, 1.5); z-index: 2; }
    75% { left: -100%; opacity: 0; -webkit-transform: scale(1); z-index: 0; }
    100% { left: -100%; opacity: 0; }
}

@-webkit-keyframes 'slide-4' {
    0% { left: -100%; opacity: 0; -webkit-transform: scale(1); z-index: 0; }
    5% { left: -100%; opacity: 0; }
    65% { left: -100%; opacity: 0; }
    70% { left: 0px; opacity: 1; }
    85% { left: 0px; z-index: 3; }
    95% { left: 0px; z-index: 3;}
    100% { left: 0px; opacity: 0; -webkit-transform: scale(1, 1.5); z-index: 2; }
}

@-moz-keyframes 'slide-1' {
    0% { left: 0px; z-index: 3;}
    15% { left: 0px; z-index: 3;}
    25% { left: 0px; z-index: 3;}
    30% { left: 0px; opacity: 0; -webkit-transform: scale(1, 1.5); z-index: 2; }
    35% { left: -100%; opacity: 0; -webkit-transform: scale(1); z-index: 0; }
    95% { left: -100%; opacity: 0; }
    100% { left: 0px; opacity: 1; }
}

@-moz-keyframes 'slide-2' {
    0% { left: -100%; opacity: 0; }
    25% { left: -100%; opacity: 0; }
    30% { left: 0px; opacity: 1; }
    35% { left: 0px; z-index: 3; }
    45% { left: 0px; z-index: 3;}
    50% { left: 0px; opacity: 0; -webkit-transform: scale(1, 1.5); z-index: 2; }
    55% { left: -100%; opacity: 0; -webkit-transform: scale(1); z-index: 0; }
    100% { left: -100%; opacity: 0; }
}

@-moz-keyframes 'slide-3' {
    0% { left: -100%; opacity: 0; }
    45% { left: -100%; opacity: 0; }
    50% { left: 0px; opacity: 1; }
    55% { left: 0px; z-index: 3; }
    65% { left: 0px; z-index: 3;}
    70% { left: 0px; opacity: 0; -webkit-transform: scale(1, 1.5); z-index: 2; }
    75% { left: -100%; opacity: 0; -webkit-transform: scale(1); z-index: 0; }
    100% { left: -100%; opacity: 0; }
}

@-moz-keyframes 'slide-4' {
    0% { left: -100%; opacity: 0; -webkit-transform: scale(1); z-index: 0; }
    5% { left: -100%; opacity: 0; }
    65% { left: -100%; opacity: 0; }
    70% { left: 0px; opacity: 1; }
    85% { left: 0px; z-index: 3; }
    95% { left: 0px; z-index: 3;}
    100% { left: 0px; opacity: 0; -webkit-transform: scale(1, 1.5); z-index: 2; }
}